<html>

<head>
    <title>Apply Job Prefilled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fbfcff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        form {
            background: #fff;
            max-width: 400px;
            padding: 20px;
            width: 100%;
            height: calc(100vh - 8rem);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        label {
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="file"] {
            width: 100%;
            margin-bottom: 20px;

            border: 0;
            outline: 0;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
        }

        input:focus {
            border-color: #3AA5E1;
            outline: none;
        }

        .file-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #f9f9f9;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        .file-container span {
            margin-left: 10px;
        }

        .file-container button {
            background: none;
            border: none;
            cursor: pointer;
            color: #3AA5E1;
        }

        .file-container button:focus {
            outline: none;
        }

        input[type="checkbox"] {
            margin-right: 10px;
            margin-bottom: auto;
        }

        button[type="submit"] {
            background-color: #3AA5E1;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
        }

        .upload-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border: 1px dashed #000;
            border-radius: 4px;
            background-color: #f0f0f0;
            color: #000;
            cursor: pointer;
            font-size: 16px;
            height: 2.5rem;
        }

        .upload-button input {
            display: none;
            margin-bottom: 0;
        }

        .file-container button {
            background: none !Important;
            border: none;
            cursor: pointer;
            width: 30px;
        }
    </style>
</head>
<script>
    function changeLabelColor(labelId, color) {
        const label = document.getElementById(labelId);

        label.style.color = color;
    }

    function handleFileSelect(event) {
        const fileList = document.getElementById('file-list');
        const files = event.target.files;

        // Clear the file list container
        fileList.innerHTML = '';

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const fileContainer = document.createElement('div');
            fileContainer.className = 'file-container';
            fileContainer.innerHTML = `
                <span style="display: flex; align-items: center;">
                    <i style="font-size:24px" class="fa">&#xf1c1;</i>
                    <span style="white-space: nowrap; overflow: hidden; width: 12rem; text-overflow: ellipsis;">${file.name}</span>
                </span>
                <button type="button" onclick="removeFile(${i})"><i class="fa fa-trash" style="color:black;"></i></button>
            `;
            fileList.appendChild(fileContainer);
        }
    }

    function removeFile(index) {
        const fileInput = document.getElementById('document');
        const dataTransfer = new DataTransfer();
        const files = fileInput.files;

        for (let i = 0; i < files.length; i++) {
            if (i !== index) {
                dataTransfer.items.add(files[i]);
            }
        }

        fileInput.files = dataTransfer.files;
        handleFileSelect({ target: fileInput });
    }

    function chooseFile() {
        document.getElementById('document').click()
    }
</script>

<body>
    <form action="<%=action %>" method="POST" id="xinputform">
        <div>
            <label for="name" id="nameLabel">Name</label>
            <input type="text" id="name" name="name" required onfocus="changeLabelColor('nameLabel', '#3AA5E1')"
                onblur="changeLabelColor('nameLabel', 'black')">

            <label for="mobile" id="mobileLabel">Mobile Number</label>
            <input type="tel" id="mobile" name="mobile" required onfocus="changeLabelColor('mobileLabel', '#3AA5E1')"
                onblur="changeLabelColor('mobileLabel', 'black')">

            <label for="email" id="emailLabel">Email ID</label>
            <input type="email" id="email" name="email" required onfocus="changeLabelColor('emailLabel', '#3AA5E1')"
                onblur="changeLabelColor('emailLabel', 'black')">

            <label>Documents</label>
            <div id="file-list">
            </div>

            <label class="upload-button">
                <i class="fa fa-cloud-upload" style="font-size: 22px; margin-right: 10px;"></i> Upload Documents
                <input type="file" id="document" name="document" multiple accept=".pdf"
                    onchange="handleFileSelect(event)">
            </label>

            <div style="display: flex; margin-top: 3rem;">
                <input type="checkbox" id="declaration" name="declaration" required>
                <label for="declaration">I hereby declare that the details mentioned above are correct.</label>
            </div>
        </div>
        <button type="submit">Apply Now</button>

    </form>
</body>

</html>