<html>
<head>
    <title>XInput Form</title>
</head>
<body>
    <div>
        <h2>Terms and Conditions</h2>
        <p>
            I, $$name$$ confirm that l've read and understand the terms of representation by $$companyName$$
            <br><br>
            I agree to be represented in the described
            legal matter and acknowledge the fee
            structure, billing terms, and potential costs.I
            understand the attorney-client privilege and
            agree to communicate promptly and
            honestly. I'm aware of the conditions for
            terminating the relationship and its consequences.
            <br><br>
        </p>
    </div>
    <form action="<%=action %>" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="place">Place</label>
            <input type="text" id="place" name="place" required>
        </div>
        <div>
            <label>
                <input type="checkbox" id="digitalSignature" name="digitalSignature">
                Add Digital Signature
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
        <div>
            <button type="button">Cancel</button>
        </div>

    </form>
</body>
</html>