<html>

<head>
    <title>XInput Form</title>
</head>

<body>
    <form action="<%=action %>" method=" post">
        <label for="plength">Rating: </label>
        <input type="text" name="rating" value="" />
        <br /><br />
        <button type="button">Submit</button>
    </form>
</body>

</html>