# @beckn-bpp-adapter plugin variables
COMMERCE='dsep:courses,dsep:jobs,dsep:scholarships,nic2004:52110,dhp:pharmacy:0.1.0,supply-chain-services:assembly,online-dispute-resolution:0.1.0,uei:charging'
APPOINTMENT='dhp:consultation:0.1.0,dsep:mentoring'
SYNC_RESPONSE=true
# PROTOCOL_SERVER_URL="https://beckn-strapi-sandbox-bpp-client.becknprotocol.io"
PROTOCOL_SERVER_URL="http://localhost:1337/beckn-bpp-adapter/ps"
BPP_ID=beckn-strapi-sandbox-bpp
BPP_URI=https://beckn-strapi-sandbox-bpp-network.becknprotocol.io
