# @beckn-bpp-adapter plugin variables
COMMERCE='dsep:courses,dsep:jobs,dsep:scholarships,nic2004:52110,dhp:pharmacy:0.1.0,supply-chain-services:assembly,online-dispute-resolution:0.1.0,uei:charging'
APPOINTMENT='dhp:consultation:0.1.0,dsep:mentoring'
SYNC_RESPONSE=false
PROTOCOL_SERVER_URL="https://strapi-bpp-client.becknprotocol.io"
# PROTOCOL_SERVER_URL="http://localhost:1337/beckn-bpp-adapter/ps"
BPP_ID="strapi-bpp-plugin"
BPP_URI="https://strapi-bpp-network.becknprotocol.io/beckn-bpp-adapter"

HOSPITALITY_DOMAINS=hospitality:dev
TOURISM_DOMAINS=tourism:dev
ENERGY_DOMAINS=uei:p2p-trading:dev,uei:p2p_trading:dev
RETAIL_DOMAINS=retail:1.1.0:dev

DSEP_COURSES_DOMAIN=dsep:courses:dev
DSEP_JOBS_DOMAIN=dsep:jobs:dev
DSEP_SCHOLARSHIPS_DOMAIN=dsep:scholarships:dev
SUPPLY_CHAIN_DOMAIN=supply-chain-services:assembly:dev
ODR_DOMAIN=online-dispute-resolution:0.1.0:dev
MOBILITY_DOMAIN=mobility:1.1.0:dev
DEG_RETAIL_DOMAIN=deg:retail:dev
DEG_FINANCE_DOMAIN=deg:finance:dev
